<!DOCTYPE html>
<html>
<head>
  <title>Hackathon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="header">
  <%= link_to :Tasks, tasks_path %>
  <%= link_to :Jobs, jobs_path %>
  <%= link_to :Employees, employees_path %>
  <h1>Hackathon Job Manager</h1>
</div>
<body>

<%= yield %>

</body>
</html>
